<header>
    <h1><%= title %></h1>
    <div class="Nav row text-center">
        <a href="/" class="col">Weather</a>
        <a href="/about" class="col">About</a>
        <a href="/help" class="col">Help</a>
    </div>
</header>